APP_PORT=3000

CHAIN_MODE=fork
CHAIN_ID=4663
FORK_RPC_URL=https://robinhood.drpc.org
RPC_URL=http://127.0.0.1:8663
MAINNET_RPC_URL=https://rpc.mainnet.chain.robinhood.com,https://robinhood.drpc.org
EXPLORER_URL=https://robinhoodchain.blockscout.com
USDG_ADDRESS=0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168

PRIVATE_KEY=0x<64 hex>
AGENT_MNEMONIC="<12 words>"

ROUTER_ADDRESS=
SHOS_ADDRESS=
STAKING_ADDRESS=
TREASURY_ADDRESS=
PLATFORM_FEE_BPS=300

AGENT_DAILY_LIMIT_USD=8
AGENT_PER_REQUEST_MAX_USD=0.25
AGENT_PER_APP_DAILY_USD=3
AGENT_FUND_USD=25
AGENT_TASK_INTERVAL_SEC=420

X_URL=https://x.com/SherwoodOSrh
X_HANDLE=SherwoodOSrh
TELEGRAM_URL=
GITHUB_URL=
